<div class="planet-list">
  <div class="filter">
    <label for="search">Filtro:</label>
    <input
      id="search"
      type="text"
      [(ngModel)]="searchText"
      placeholder="escribe para filtrar"
    />
  </div>
  <h2>Listado de planetas ({{ planets.length }} planetas)</h2>
  <div *ngFor="let p of planets | filterPlanet : searchText">
    <span>{{ p.name }}</span
    >&nbsp;
    <span>{{ p.climate }}</span>
    ...
  </div>
  <div *ngIf="error" class="error">{{ error }}</div>
</div>

<button (click)="consultar1()">Consultar planeta</button>
<button (click)="consultar2()">Consultar persona</button>
<button (click)="consultar3()">Consultar la composicion</button>
<button (click)="consultar4()">
  Consultar la composicion refactorizada en servicio
</button>
<div>
  <pre>
    {{ objeto | json }}
  </pre>
</div>
