<header>
  <h1 class="titular" appResaltar="orange">{{ title }}</h1>
  <p appResaltar="#0FF">Un parrafo: {{ 1 + 2 * 3 }}</p>
  <p>{{ dinero | currency : 'EUR' }}</p>
  <nav>
    <a [routerLink]="['/']">Inicio</a> |
    <a [routerLink]="['/planetas']">Planetas</a> |
    <a [routerLink]="['/planetas/1/rojo']">Planeta 1</a> |
    <a [routerLink]="['/planetas', '2', 'verde']">Planeta 2</a> |
    <a [routerLink]="['/acerca-de']">Acerca de...</a>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <p>(c) Acme 2023. v 1.2.3</p>
</footer>
