<ng-template #textoOperador>
  <p>Operador. Solo tiene derechos de lectura y poco mas.</p>
</ng-template>

<div class="user-profile">
  <!-- <span class="name">{{ firstName }} {{ lastName }}</span> -->
  <input [(ngModel)]="firstName" placeholder="nombre" />
  <input [(ngModel)]="lastName" placeholder="apellido" />
  <span class="role">({{ role }})</span>
  <button (click)="seleccionar()">Seleccionar</button>
  <br />
  <p *ngIf="isAdmin; else textoOperador">
    Tiene poderes de administración. Usese con moderación.
  </p>
</div>
